*

# Need these for Whales project:
!/.whales
!/.whales.env
!/.whales.docker-compose.yml
!/.whales.Dockerfile

################################################################
# MAIN FOLDER
################################################################
!/.env
!/README.md
!/LICENSE
!/scripts
!/scripts/*.sh
!/scripts/requirements

################################################################
# PROJECT FILES
################################################################
!/data
!/data/*.yml
!/dist
!/dist/VERSION

!/src
!/src/core
!/src/grammars
!/src/fol
!/src/proplogic
!/src/**/*.py
!/src/**/*.lark
!/src/**/*.yml

!/test
!/test/core
!/test/grammars
!/test/fol
!/test/proplogic
!/test/**/*.py
!/test/**/*.lark
!/test/**/*.yml

################################################################
# AUXLIARY
################################################################
!/logs

################################################################
# ARTEFACTS
################################################################
#
